*, *::after, *::before{
  box-sizing: border-box;
}

:root{
  /* variables */
  /* --body-background: hsl(200, 100%, 85%);
  --color-text: hsl(200, 100%, 10%);
  --border-header-left: hsl(200, 100%, 10%);
  --label-color: hsl(200, 100%, 20%);
  --day-card-border: hsl(200, 100%, 10%);
  --day-card-date-color: hsl(200, 100%, 20%);
  --hour-row-background: hsl(200, 60%, 75%);
  --hour-row-2-background: hsl(200, 60%, 70%); */

  --body-background: hsl(243, 89%, 22%);
  --body-background-2: hsl(243, 39%, 51%);

  --filter: rgba(0, 0, 0, 0.55);
  
  --color-text: hsl(0, 0%, 100%);
  --border-header-left: hsl(182, 100%, 41%);
  --label-color: hsl(160, 100%, 50%);
  --day-card-border: hsl(160, 100%, 50%);
  --day-card-date-color: hsl(160, 100%, 50%);
  --hour-row-background: hsl(236, 90%, 12%);
  --hour-row-2-background: hsl(230, 88%, 20%);
}

body{
  margin: 0;
  background: linear-gradient(0.25turn, var(--body-background), var(--body-background-2));
  /* background: linear-gradient(0.25turn, hsl(73, 16%, 11%), hsl(0, 5%, 12%), hsl(62, 42%, 15%)); */
  
  /* images */
  /* background: url('https://images.pexels.com/photos/1114690/pexels-photo-1114690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* images */
  background-repeat: no-repeat;
  background-size: auto;
  color: var(--color-text);
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}

.top-part{
  background: var(--filter);
}

.location-container{
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.location-logo{
  height: 1.5rem;
  margin-right: 0.5rem;
}

.date-container{
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.date-logo{
  height: 1.5rem;
  margin-right: 0.5rem;
}

.time-container{
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.time-logo{
  height: 1.5rem;
  margin-right: 0.5rem;
}

.header{
  display: flex;
  align-items: center;
}

.header-left{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: .5rem;
  padding: .5rem;
  border-right: 5px solid var(--border-header-left);
}

.weather-icon{
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.weather-icon.large{
  width: 80px;
  height: 80px;
}

.header-current-temp{
  font-size: 2rem;
  margin-left: 1rem;
}

.header-right{
  display: grid;
  width: 50%;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.info-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
  color: var(--label-color);
}

.value.sub-info{
  font-weight: lighter;
  font-size: 0.75rem;
}

.day-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.day-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--day-card-border);
  padding: 0.25rem;
}

.day-card-date{
  font-size: 0.75rem;
  color: var(--day-card-date-color);
  margin-top: 0.5rem;
}

.hour-section{
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hour-row{
  background-color: var(--hour-row-background);
}

.hour-row:nth-child(2n){
  background-color: var(--hour-row-2-background);
}

.hour-row > td{
  padding: 0.25rem 0.5rem;
}